/** CSS STYLE **/
@import url("https://fonts.googleapis.com/css2?family=Neucha&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

.c-white {
  color: #fff;
}

.c-htr-white {
  color: #d7ccc0;
}

.c-bright {
  color: #f5f4f0;
}

.c-main {
  color: #fe8a02;
}

.c-main-dark {
  color: #42413c;
}

.c-dark {
  color: #2a2626;
}

.c-htr-dark {
  color: #908d8b;
}

.c-brown {
  color: #b09a81;
}

.c-blue {
  color: #1085c5;
}

.c-orange {
  color: #f57f17;
}

.article-2c {
  column-count: 2;
  column-gap: 30px;
}

.pos-a {
  position: absolute;
}

.pos-r {
    position: relative;
}

.d-block {
  display: block;
  color: #fff;
}

.d-flex {
  display: flex;
}

.centered {
  align-items: center;
}

.nowrap {
  text-wrap: nowrap;
}

.break-aft-col {
  break-after: column;
}

.max-size {
  max-width: 1440px;

}

.background {
  content: url(https://raw.githubusercontent.com/hexlet-components/projects-css-l1-cognitive-biases/main/images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 1440px;
  opacity: 0.1;
}

.img-hexleton {
  z-index: -1;
  right: 270px;
  top: 55px;
  background-repeat: no-repeat;
  background-size: cover;
}

html {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.6en;
  color: #2a2626;
}

.block {
  padding-left: 100px;
}

h1 {
  font-family: "Neucha", cursive;
  line-height: 1.2em;
  font-size: 72px;
}

h2 {
  font-family: "Neucha", cursive;
  line-height: 1.2em;
  font-size: 60px;
}

h3 {
  font-family: "Neucha", cursive;
  line-height: 1.2em;
  font-size: 34px;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 1110px;
  margin: 50px 100px;
}

button {
  padding: 24px 12px;
  background-color: #f57f17;
  color: white;
  font-weight: bold;
  z-index: 0;
  text-decoration: none;
}

a:visited {
  color: white;
}
